body {
    font-family: Arial, sans-serif;
    background-color: #ddd3ce;

    padding: 20px;
}

header h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 Spalten für Wochentage */
    grid-gap: 10px;
    margin-top: 20px;
}

.calendar-row {
    display: flex;
    justify-content: space-between;
}

.calendar-day {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.calendar-day.empty {
    background-color: #f1f1f1; /* Platzhalter für leere Tage */
}

.calendar-day strong {
    display: block;
    text-align: center;
    font-weight: bold;
}

ul {
    padding-left: 10px;
}

ul li {
    font-size: 0.9em;
    margin: 5px 0;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.login-container input{

}

.login-container{
    text-align: center;
}
